/* GLOBAL STYLE */

//Import vard
@import './vars.scss';

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

//Utilities
body {
    background-color: $background;
    font-family: $global-font;
    font-size: 16px;
}

.full-width {
    width: 100%
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.button-primary {
    padding: 15px 20px;
    background-color: $primary-button-back;
    border: none;
    color: $button-text;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 25px;
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background .4s ease;
    &:hover {
        background-color: $primary-button-hover
    }
}

.button-secondary {
    padding: 15px 20px;
    background-color: $secondary-button-back;
    border: none;
    color: $button-text;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 25px;
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background .4s ease;
    &:hover {
        background-color: $secondary-button-hover
    }
}

.buttonTertiary {
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid currentColor;
    color: $primary-text;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 25px;
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
        background-color: $primary-text;
        color: white;
        border: 2px solid $primary-text;
    }
}

.debug {
    border: 1px solid red;
}

a {
    text-decoration: none;
    transition: all .4s ease;
}