/* VARIABLES */

/* COLOR */
//Main
$background: #f8f8f8;
$primary-color: #ffa837;

//Title
$primary-title: #202020;
$secondary-title: #ffffff;
$tertiary-title: #ffa837;

//Text
$primary-text: #5a5759;
$secondary-text: #f3f3f3;
$icon-color: #ffa837;

//Button
$primary-button-back: #ffa837;
$primary-button-hover: #dd9f4d;
$secondary-button-back: #0369d7;
$secondary-button-hover: #1a236c;
$button-text: #f3f3f3;

//Special
$card-price-color: #0369d7;

//Link
$link-color-active: #ffa837;


/* TIPOGRAPHY */
$global-font: 'Open Sans', sans-serif;
